<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="layui/css/layui.css"/>
    <link rel="stylesheet" href="css/login.css"/>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
     function check() {
         var username = $("#un").val();
         if (username==""){
             alert("请输入用户名！")
             return false;
         }
         var p1 =$("#p1").val();
         if (p1==""){
             alert("请输入密码！")
             return false;
         }
         var p2 =$("#p2").val();
         if (p1==""){
             alert("请再次输入用密码！")
             return false;
         }
         if (p1!=p2){
             alert("两次密码不一致！")
             return false;
         }

         var v1 =$("#v1").val();
         if (v1==""){
             alert("请输入验证码！")
             return false;
         }
         return true;
     }
    </script>


</head>
<body>
<div id="container">
    <div></div>
    <div class="admin-login-background">
        <!--<h3 th:text="${msg}"></h3>-->

        <form class="layui-form" action="/reg" method="post">

            <div>
                <i class="layui-icon layui-icon-username admin-icon admin-icon-username"></i>
                <input id="un" type="text" name="username" placeholder="请输入用户名"
                       autocomplete="off" maxlength="20"
                       class="layui-input admin-input admin-input-username">
            </div>
            <div>
            <i class="layui-icon layui-icon-password admin-icon admin-icon-password"></i>
            <input type="password" name="password" id="p1"
                   placeholder="请输入密码"
                   autocomplete="off"
                   class="layui-input admin-input">
        </div>
            <div>
                <i class="layui-icon layui-icon-password admin-icon admin-icon-password"></i>
                <input type="password" name="password1" id="p2"
                       placeholder="请再次输入密码"
                       autocomplete="off"
                       class="layui-input admin-input">
            </div>
            <div>
                <input type="text" name="verify"
                       placeholder="验证码(区分大小写)" id="v1"
                       autocomplete="off"
                       class="layui-input admin-input admin-input-verify">
                <img class="admin-captcha" id="img1"src="/getVerificationCode"
                     onclick='this.src=this.src+"?"+Math.random()'>
            </div>
            <button class="layui-btn admin-button" lay-submit lay-filter="formDemo" onclick="return check()">注册</button>

            <h3 id="information">已有账号？<a href="/login">点击这里登录</a> </h3>


        </form>
    </div>
</div>

</body>
<script th:inline="javascript">

    var msg= [[${msg}]];
    if (msg != null){
        alert(msg);
    }


</script>
</html>