
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="Thymeleaf"

	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<link rel="stylesheet" href="layui/css/layui.css" />
		<link rel="stylesheet" href="css/showArticle.css" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="layui/layui.js"></script>
<!--		<script src="js/userMsg.js"></script>-->
		<script type="text/javascript">
			layui.use(["element",function(){
				var element = layui.element;

			}])

			layui.use('carousel', function(){
				var carousel = layui.carousel;
				//建造实例
				var ins = carousel.render({
					elem: '#test1',
					height:'30%'
					,width: '100%' //设置容器宽度
					//,arrow: 'always' //始终显示箭头
					//,anim: 'updown' //切换动画方式
				});

				$.ajax({
					url:"/getRotation",
					async:true,
					success: function (data) {
						if (data != "") {
							var rotations = data.rotations
							var addHtml="";
							$.each(rotations,function (i,val) {

								addHtml+="<div><a href='";
								addHtml+=val.hyperlink;
								addHtml+="' target='_Blank'><img src='";
								addHtml+=val.imageSrc;
								addHtml+="' style='object-fit:scale-down; width: 100%'/></a></div>";


							})

							$(".showRotation").append(addHtml);
							ins.reload({
								elem: '#test1',
								height:'30%'
								,width: '100%'
							});
						}
					}
				});

			});

			function getHomePage(){
				var pageHTML = "";

				$.ajax({
										url:"/getHomePage",
										async:true,
										success: function (data) {
											if (data != "") {
												var pageContent =  JSON.parse(data);

												if(pageContent!=null){


													var stickPageNum = pageContent[''];
													var aryicleNum = pageContent.articleNum;

													var stick = pageContent.articleMap.stick;
								var hot = pageContent.articleMap.hot;
                                var newArticle = pageContent.articleMap.new;

								pageHTML+="<div class='element-block'><div class='element-block-head' ><p class='element-block-text'>置顶文章</p></div>"
								$.each(stick,function(i,val){
									pageHTML +="<hr size='2'/><div class='article-container' id='"+val.articleId +" ' ><div class='margin-around' > <div class='article-title'> <a href='/showArticle?articleId="+val.articleId+" ' target='_Blank'> <p class='article-title-text' >"+val.title+"</p> </a> </div> <div class='article-text layui-text' >"+val.synopsis+"</div> <div class='article-information' > <div class='article-author'>BY:<a href='/user?userName="+val.userName+"' target='_Blank'>"+val.userName+"</a></div> <div class='article-appraise'><div class='layui-icon layui-icon-star article-appraise-star' onclick='star()'><p >"+val.starNum+"</p></div> <div onclick='praise()' class='layui-icon layui-icon-praise article-appraise-praise'><p>"+val.praiseNum+"</p></div> <div class='layui-icon layui-icon-tread article-appraise-tread' onclick='tread()'><p>"+val.treadNum+"</p></div> </div> </div> </div> </div>"
								});
								pageHTML +="</div>";

                                pageHTML+="<div class='element-block'><div class='element-block-head' ><p class='element-block-text'>最热文章</p></div>"
                                $.each(hot,function(i,val){
                                    pageHTML +="<hr size='2'/><div class='article-container' id='"+val.articleId +" ' ><div class='margin-around' > <div class='article-title'> <a href='/showArticle?articleId="+val.articleId+" ' target='_Blank'> <p class='article-title-text' >"+val.title+"</p> </a> </div> <div class='article-text layui-text' >"+val.synopsis+"</div> <div class='article-information' > <div class='article-author'>BY:<a href='/user?userName="+val.userName+"' target='_Blank'>"+val.userName+"</a></div> <div class='article-appraise'><div class='layui-icon layui-icon-star article-appraise-star' onclick='star()'><p >"+val.starNum+"</p></div> <div onclick='praise()' class='layui-icon layui-icon-praise article-appraise-praise'><p>"+val.praiseNum+"</p></div> <div class='layui-icon layui-icon-tread article-appraise-tread' onclick='tread()'><p>"+val.treadNum+"</p></div> </div> </div> </div> </div>"
                                });
                                pageHTML +="</div>";

                                pageHTML+="<div class='element-block'><div class='element-block-head' ><p class='element-block-text'>最新文章</p></div>"
                                $.each(newArticle,function(i,val){
                                    pageHTML +="<hr size='3'/><div class='article-container' id='"+val.articleId +" ' ><div class='margin-around' > <div class='article-title'> <a href='/showArticle?articleId="+val.articleId+" ' target='_Blank'> <p class='article-title-text' >"+val.title+"</p> </a> </div> <div class='article-text layui-text' >"+val.synopsis+"</div> <div class='article-information' > <div class='article-author'>BY:<a href='/user?userName="+val.userName+"' target='_Blank'>"+val.userName+"</a></div> <div class='article-appraise'><div class='layui-icon layui-icon-star article-appraise-star' onclick='star()'><p >"+val.starNum+"</p></div> <div onclick='praise()' class='layui-icon layui-icon-praise article-appraise-praise'><p>"+val.praiseNum+"</p></div> <div class='layui-icon layui-icon-tread article-appraise-tread' onclick='tread()'><p>"+val.treadNum+"</p></div> </div> </div> </div> </div>"
                                });
                                pageHTML +="</div>";
								$("body").append(pageHTML)
							}

						}
					}
				});


				$.ajax({

					url:"/getMsgInfo",
					async:true,
					type:'post',
					success: function (data) {
						if (data==""){

							return false;
						}
						dataJSON = JSON.parse(data);
						var sysNum = parseInt(dataJSON.sysNum);
						var replyNum =parseInt(dataJSON.replyNum);
						var personalNum =parseInt(dataJSON.personalNum);
						var count = sysNum +replyNum+personalNum;

						if(count>0){
							$(".count-p").append("<span class='layui-badge'>"+count+"</span>");
							$(".d1").children("a").append("<span class='layui-badge'>"+count+"</span>");
						}
						if (sysNum>0) {
							$(".d2").children("a").append("<span class='layui-badge'>"+sysNum+"</span>");
						}
						if (replyNum>0) {
							$(".d3").children("a").append("<span class='layui-badge'>"+replyNum+"</span>");
						}
						if (personalNum>0) {
							$(".d4").children("a").append("<span class='layui-badge'>"+personalNum+"</span>");
						}

					},
					error:function () {
						alert("暂时无法获取消息！");
					}

				});

			}


		</script>


	</head>
	<body onload=getHomePage()>
		 
		<ul class="layui-nav">
		  	<li class="layui-nav-item layui-this"><a href="/">首页</a></li>
			<li class="layui-nav-item"><a href="/hotArticle">最热文章</a></li>
		  	<li class="layui-nav-item"><a href="/newArticle">最新发布</a></li>
			<li shiro:hasPermission="admin:administrate" class="layui-nav-item"><a href="/admin">管理后台</a></li>
		  
		</ul>
		<ul class="layui-nav layui-layout-right">
			<div shiro:guest="">
				<li class="layui-nav-item"><a href="/register">注册</a></li>
				<li class="layui-nav-item"><a href="/login">登录</a></li>
			</div>
			<li  shiro:user="" class="layui-nav-item lay-unselect=">
				<a href="/editor"target="_Blank"><div class="layui-icon layui-icon-edit">写文章</div></a>
			</li>
			<li  shiro:user="" class="layui-nav-item lay-unselect=" onload="getMsgInfo(this)">

				<a href="javascript:;" class="count-p">
					<img src="/getProfilePhoto" class="layui-nav-img">个人中心
					<span class="layui-nav-more"></span>

				</a>
				<dl class="layui-nav-child layui-anim layui-anim-upbit">
					<dd class="d1"><a href="/yourself">个人中心</a></dd>
					<dd class="d2"><a href="/yourself?target=sys">系统消息</a></dd>
					<dd class="d3"><a href="/yourself?target=re">回复我的</a></dd>
					<dd class="d4"><a href="/yourself?target=pe">私信</a></dd>
					<dd class="d5"><a href="/logoutme">退出登录</a></dd>
				</dl>
			</li>
		</ul>

		<div class="layui-carousel" id="test1" >
			<div carousel-item id="carousels" class="showRotation">


			</div>
		</div>
		
	</body>

</html>
