<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="layui/css/layui.css"/>
    <link rel="stylesheet" href="css/login.css"/>


</head>
<body >
<div id="container">
    <div></div>
    <div class="admin-login-background">

        <form class="layui-form" action="/log">
            <div>
                <i class="layui-icon layui-icon-username admin-icon admin-icon-username"></i>
                <input type="text" name="username" placeholder="请输入用户名"
                       autocomplete="off"
                       class="layui-input admin-input admin-input-username">
            </div>
            <div>
                <i class="layui-icon layui-icon-password admin-icon admin-icon-password"></i>
                <input type="password" name="password"
                       placeholder="请输入密码"
                       autocomplete="off"
                       class="layui-input admin-input">
            </div>
            <div>
                <input type="text" name="verify"
                       placeholder="请输入验证码"
                       autocomplete="off"
                       class="layui-input admin-input admin-input-verify">
                <img class="admin-captcha" id="img1"src="/getVerificationCode"
                     onclick='this.src=this.src+"?"+Math.random()'>
            </div>
            <button class="layui-btn admin-button" lay-submit lay-filter="formDemo">登陆</button>
            <h3 th:text="${msg}"></h3>
            <h3 id="information">没有账号？点击<a href="/register">这里</a>注册 </h3>


        </form>
    </div>
</div>
</body>
</html>