<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>未授权</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css" />

</head>
<body>
<div id="container">
    <div></div>
    <div style="margin: 10%;">
        <div style="width: 100%; text-align: center;"><div class="layui-icon layui-icon-tips " style="font-size: 250px;color: #FFB800;"></div></div>
        <div style="width: 100%; text-align: center;"><h2>你没有查看当前页面的权限,如需要请与管理员联系</h2><br></div>
        <div style="width: 100%; text-align: center;"><a href="/index"><h3 style="color: #0000FF;">点此回到首页</h3></a><br></div>
    </div>
</div>
</body>
</html>