<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.ourblog.mapper.RoleMapper">
    <select id="findRoleByRoleId" parameterType="int" resultType="com.blog.ourblog.entity.Role">
    SELECT
    `role_id`as roleId,
    role_name as roleName
    FROM
    `t_role` where role_id = #{roleId}
    </select>

    <select id="findRoleIdByUserId" parameterType="int" resultType="Integer">
    SELECT
    `role_id`,
    FROM
    `user_role` where user_id = #{userId}
    </select>

</mapper>