<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.ourblog.mapper.UserMapper">
    <select id="findByUsername" parameterType="String" resultType="com.blog.ourblog.entity.User">
    SELECT
    `id`,
     `name`as username,
    `password`
    FROM
    `user` where name = #{username}


    </select>

</mapper>