<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.ourblog.mapper.UserMapper">
    <select id="findByUsername" parameterType="String" resultType="com.blog.ourblog.entity.User">
    SELECT
    `id`,
    username,
    `password`,
    update_time as time
    FROM
    `t_user` where username = #{username}


    </select>
    <insert id="insertUser" parameterType="com.blog.ourblog.entity.User" >
        INSERT INTO t_user
        (username,
        password,
        create_time)
        VALUES
        (#{user.username},
        #{user.password},
        #{user.time})
    </insert>
    <update id="flushUserLogin">
        UPDATE t_user
        SET recent_location = #{location},
         recent_login_time = #{timestamp}
        WHERE username = #{username}
    </update>

</mapper>